    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ek0's box</a>
        </div>
        <ul class="nav navbar-nav hidden-xs">
          <li><p class="navbar-text">Reverse Engineering & Stuff</p></li>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li><a href="https://github.com/ek0/"><i class="fa fa-github"></i></a></li>
          <li><a href="https://twitter.com/_ek0_"><i class="fa fa-twitter"></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right hidden-lg hidden-xs">
          <li><a href="#PGP">PGP</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#repo">Repo</a></li>
        </ul>

        <ul class="nav navbar-nav side-nav visible-lg">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#PGP">PGP KEY</a></li>
          <li><a href="#">REPO</a></li>
        </ul>
     </div>
    </nav>
